.container {
    margin: 0 auto;
    max-width: 1070px;
    padding: 20px;
}

.post {
    flex: 1;
    background-color: gainsboro;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.modal {
    position: absolute;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
    min-width: 500px;
}

.formContainer {
    flex: 1;
    flex-direction: column;
}

.formInput {
    width: 100%;
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 6px;

    display: block;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
}

.inputCategory {
    margin: 10px 0;
    display: block;
}

.errorMessage {
    color: red;
    font-size: 20px;
    height: 20px;
    display: block;
    width: 100%;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.disabled {
    background: rgb(220, 220, 220);
}

.open-modal {
    position: fixed;
    right: 25px;
    bottom: 25px;
}
.open-modal div {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(128,128,128);
    background-image: url('./icons/add.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 0;
}

.newComment {
    background-color: beige;
    padding: 20px;

}

.submitInput {
    margin: 20px auto;
    width: 100px;
    border-radius: 6px;

    display: block;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
}

.formInput {
    width: 100%;
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 6px;

    display: block;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
}

.comment {
    flex: 1;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 20px;
}

.comment-content {
    flex: 1;
}

.vote-buttons {
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.category {
    margin: 0 5px;
}

.fhf {
    flex: 1;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.big-font{
    background-color: transparent;
    font-size: 250px;
}
